#modal-remove-blob.modal
  .modal-dialog
    .modal-content
      .modal-header
        %h1.page-title.gl-font-size-h-display Delete #{@blob.name}
        %button.close{ type: "button", "data-dismiss": "modal", "aria-label" => _('Close') }
          %span{ "aria-hidden": "true" } &times;

      .modal-body
        = form_tag project_blob_path(@project, @id), method: :delete, class: 'js-delete-blob-form js-quick-submit js-requires-input' do
          = render 'shared/new_commit_form', placeholder: "Delete #{@blob.name}"

          .form-group.row
            .offset-sm-2.col-sm-10
              = button_tag 'Delete file', class: 'btn gl-button btn-danger btn-remove-file'
              = link_to _('Cancel'), '#', class: "btn gl-button btn-cancel", "data-dismiss" => "modal"
